*.gem
*.rbc
.bundle
.config
bit_stamp_details.yml
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tests.rb

# YARD artifacts
.yardoc
_yardoc
doc/
*/**/*un~
.*un~
